@model CursoProjeto.Models.Modulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curso.Sumario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoDoModulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDoModulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemDeExibicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemDeExibicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
